<ion-view hide-nav-bar="true" class="">
	<ion-content>
		<div class="logo-wrap">
			<div class="logo">LOGO</div>
		</div>
		<div class="m-log">
			<div class="log-list list padding">
				<label class="item item-input">
					<span class="input-label">企业邮箱</span>
    				<input type="text">
				</label>
				<label class="item item-input">
				    <span class="input-label">昵称</span>
    				<input type="text">
				</label>
				<label class="item item-input">
					<span class="input-label">企业邮箱</span>
    				<input type="text">
				</label>
				<button class="button button-block button-positive">
					邮箱验证
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>