.g-login, .g-register {
	.logo-wrap {
		position: relative;
		width: 100%;
		height: 150px;
		.logo {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100px;
			height: 50px;
			border: 1px solid gray;
			border-radius: 5px;
		}
	}

	.related-log {
		margin-bottom: 20px;
		li {
			float: left;
			padding-left: 10px;
			font-size: 18px;
			display: inline-block;
			box-sizing: border-box;
			width: 50%;
			&:first-child {
				border-right: 1px solid gray;
				padding-right: 10px;
				text-align: right;
			}
		}
	}

	.m-form {
		.header {
			display: flex;
			align-items: center;
			&:before, &:after{
				content: '';
				display: block;
				flex: 1;
				border-top:1px solid gray;
				height: 0;
			}
			span {
			    display: inline-block;
			    padding: 0 15px;			
			}
		}
		.log-list.list {
			.item-input {
				border-color: transparent;
				border-bottom-color: #ddd;
				margin: 0;
			}
			.button {
				margin-top: 40px;
			}
			.has-error {
				border-color: red;
			}
			.errorInfo {
			    position: absolute;
			    top: 110px;
			    color: red;			
			}
		}
	}

	.m-bar {
		& > .buttons {
			width: 50%;
			&:first-child .button {
				border-top-width: 1px;
			}
			&:last-child .button {
				border-top-width: 1px;
				border-left-width: 1px;
			}
			.button {
				width: 100%;
				border-radius: 0;
				border-width: 0;
			}
		}
	}
}

.g-register .m-form .log-list.list .errorInfo {
    top: 160px;		
}