.g-login, .g-register {
	background: url('../img/auth/bg.jpg') no-repeat;
	background-size: cover;
	.g-content > div {
		height: 100%;
	}
	.logo-wrap {
		position: relative;
		width: 100%;
		height: 250px;
		.logo {
			background: url('../img/auth/logo_3.png') no-repeat;
			background-size: cover;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			-webkit-transform: translate(-50%, -50%);
			width: 90px;
			height: 130px;
			border-radius: 5px;
		}
	}

	.related-log {
		margin-bottom: 20px;
		li {
			float: left;
			padding-left: 10px;
			font-size: 18px;
			display: inline-block;
			box-sizing: border-box;
			width: 50%;
			&:first-child {
				border-right: 1px solid gray;
				padding-right: 10px;
				text-align: right;
			}
		}
	}

	.m-form {
		.header {
			display: flex;
			align-items: center;
			&:before, &:after{
				content: '';
				display: block;
				flex: 1;
				border-top:1px solid gray;
				height: 0;
			}
			span {
			    display: inline-block;
			    padding: 0 15px;			
			}
		}
		.log-list.list {
			padding: 10px 30px;
			.input-label.icon {
				&.icon-email {
					background: url('../img/auth/email.png') no-repeat;
					background-size: cover;
				}
				&.icon-pwd {
					background: url('../img/auth/pwd.png') no-repeat;
					background-size: cover;
				}
				&.icon-nickname {
					background: url('../img/auth/nickname.png') no-repeat;
					background-size: cover;
				}
				display: inline-block;
				width: 20px;
				height: 20px;
			}
			.item-input {
				box-sizing: border-box;
    			height: 38px;
				border-width: 0;
				border-left-width: 4px;
				border-color: transparent;
				input {
					margin-left: 20px;
				}
			}
			.item-input + .item-input {
				margin-top: 20px;
			}
			.button {
				min-height: 38px;
				line-height: 35px;
				margin-top: 25px;
				background-color: #66C3D2;
				border-width: 0;
			}
			.has-error {
				border-color: red;
			}
			.errorInfo {
			    position: absolute;
			    top: 106px;
			    color: red;			
			}
			.is-focus {
				border-left-color: #66C3D2;
			}
		}
	}

	.m-bar {
		padding: 0;
		height: 60px;
		width: 100%;
		background: transparent;
		border-top-width: 0;
		& > .buttons {
			width: 50%;
			height: 100%;
			&:last-child .button {
				border-left-width: 1px;
				border-left-color: #ccc;
			}
			.button {
				width: 100%;
				height: 100%;
				border-radius: 0;
				border-width: 0;
				background-color: RGBA(181,181,182,0.5);
			    color: black;
			    font-size: 14px;
			    &:active {
			    	color: white;
			    	background-color: RGBA(0,0,0,0.5);
			    }
			}
		}
	}
}

.g-register {
	.has-header {
		top: 0;
	}
	.header-bar {
		background: transparent;

		.buttons .button {
			color: #66C3D2;
			&:before {
				content: '';
				display: inline-block;
				width: 12px;
			    height: 34px;
			    margin-right: 5px;
				background: url('../img/auth/arrow.png') no-repeat;
				background-size: cover;
			}
		}
	}
	.m-form .log-list.list .errorInfo {
	    top: 160px;		
	}
} 
