.m-house {
  .filter-group {
    display: table;
    position: relative;
    table-layout: fixed;
  }

  .filter-group > li {
    display: table-cell;
    width: 1%;
  }

  .filter-group .header {
    text-align: center;
    line-height: 35px;
    border-left: 1px solid #ccc;
  }

  .filter-group > li:first-child .header {
    border-left: none;
  }

  .filter-group .header > a {
    display: block;
    
  }

  .filter-group .header .icon {
    padding-left: 4px;
  }

  .filter-list {
    position: absolute;
    top: 44px;
    left: 0;
    padding: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
  }

  .filter-list.active {
    height: auto;
  }

  .grid {
    overflow: hidden;
    padding: 8px;

    .item {
      float: left;
      width: 50%;
      border: none;
      padding: 8px;

      .content-wrapper {
        border: 1px solid #ddd;
        border-radius: 4px;
        overflow: hidden;

        .img-response {
          text-align: center;
          padding: 1px;

          img {
            max-width: 100%;
          }
        }

        .title {
          overflow: auto;
          white-space: normal;
          margin: 4px 8px;
        }

        .price {
          margin: 4px 8px;
        }
      }
    }

    .footer {
      padding: 4px 8px;
      border-top: 1px solid #ddd;
      overflow: hidden;

      img {
        border-radius: 50%;
        float: left;
        margin-right: 8px;
      }

      .landlord {
        overflow: hidden;
      }
    }
  }

  // width >= 768px
  @media(min-device-width: 768px) {
    .grid .item {
      width: 33.3%;
    }
  }
}
