.m-me-register{
  background: #f8f8f8;
  
  .bar-stable{
    background: #63c3d3;
    font-size: 16px;

    .title{
      color: #e5f5f7!important;
    }
    .ignore{
      position: absolute;
      right: 3.9%;
      color: #e5f5f7!important;
      font-size: 16px;
      line-height: 43px;
      top: 1px;
      height: 43px;
    }
  }

  .header{
    background: #d6eff4;
    border:none;
    padding: 0!important;
    height: 160px;
    background: #63c3d3;
    padding-top: 20px!important;
    border-bottom: 1px solid #8ad2de;


    h1{
      margin-left:50%;
      display: inline-block;
      transform: translate(-50%);
      color: #d6eff4;
      font-size: 16px;
      font-family: "Microsoft Yahe";
      font-weight: normal;

    }
    i{
      float: right;

    }
  }
  .head-img{
    background: transparent;
    border: 3px solid #faf3f1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 106px;
    height: 106px;
    position: relative;
    margin: 0 auto;

    .camera{
      width: 30px;
      height: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 65px;
      left: 75px;
      background: url('../img/camera-bg.png') no-repeat;
      background-size: cover;
    }


    img{
      width: 100px;
      height: 100px;
      vertical-align: top;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .list{
    padding-top: 12px;
    background: #f8f8f8;
    overflow: hidden;

    .complete{
      border: none;
    }

    .item{
      border: none;
      height: 36px;
      line-height: 36px;
      padding: 0;
      padding-left: 5.6%;
      background: #fff;
      font-size: 14px;

      .no-border{
        border-bottom: none;
      }

      .date-input{
        float: right;
        width: 75%;
        text-align: right;
        padding-right: 38px;
        height: 34px;
      }
      .date-label{
        border-bottom: none;
      }

      input{
        text-align: right;
        border-bottom: 1px solid #ddd;
      }
      label{
        border-bottom: 1px solid #ddd;
        height: 34px;
        line-height: 33px;
        padding: 0;
        color: #747273!important;
      }
    }
    .date, .job{
      margin-bottom: 19px;
    }
    .phone{
      margin-bottom: 30px;
    }
    .button{
      background: #63c3d3;
      color: #fff;
      height: 36px;
      line-height: 36px;
      width: 83.3%;
      margin: 0 auto;
    }
  }
}

.m-me-show{
  background: #f8f8f8;

  .header{
    background: url("../img/person-bg.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 198px;
    overflow: hidden;
    padding: 0!important;

    .nav{
      height: 43px;
      font-size: 16px;
      color: #fff;
      margin-top: 10px;

      i{
        float: left;
        height: 43px;
        line-height: 44px;
        padding: 0 ;
        margin: 0;
        width: 10%;
        text-align: center;
        font-size: 25px;
      }

      .title{
        padding: 0;
        margin: 0;
        font-size: 16px;
        color: #fff;
        font-weight: normal;
        overflow: hidden;
        text-align: center;
        height: 43px;
        line-height: 44px;
        font-family: "Microsoft Yahe";
        padding-right: 10%;

      }
    }

  }
  .head-img{
    border: 3px solid #f0f3fd;
    width: 106px;
    height: 106px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: 8px auto 0;

    img{
      width: 100px;
      height: 100px;
      vertical-align: top;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
  }

  .title{
    left:50px!important;
  }
  .icon{
    padding: 2px 15px;
  }

  .tags{
     margin-top: 6px;
    background: #fff;
    padding-left: 18px;


    p{
      height: 30px;
      color: #565354;
      line-height: 30px;
      font-size: 14px;
      font-weight: bold;
      margin: 0;

    }
    .tag{
      margin-top: 3px;
      overflow: hidden;
      padding-left: 3%;


      a{
        border: 1px solid #eee;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        background: #fff;
        margin-bottom: 5px;
        line-height: 16px;
        text-align: center;
        min-width: 35px;
        float: left;
        margin-right: 8%;
        font-size: 12px;
        font-family: "Microsoft Yahe";
        width: 25%;
        text-align: center;
        padding: 4px;

      }
    }

  }

  .info-list{
    background: #f8f8f8;

    .part1, .part2, .part3{
      background: #fff;
      padding-left: 6.2%;
    }
    .part3{
      margin-top: 10px;
    }
    .warn{
      height: 30px;
      background: transparent;
      color: #cdcdcd;
      font-size: 11px;
      padding-left: 6.2%;
      margin: 0;
    }

    .item{
      height: 36px;
      line-height: 36px;
      border: none;
      background: url("../img/arrow-bg.png") no-repeat ;
      background-position: 95.3% center;
      -webkit-background-size: 7px 12px;
      background-size: 7px 12px;
      padding: 0 ;
      border-top: 1px solid #ddd;
      padding-right: 10.6%;

      :nth-child(1){
        float: left;
      }
      :nth-child(2){
        float: right;
      }
      p{
        margin: 0;
        height: 36px;
        line-height: 36px;
        color: #585657;
      }

      a{
        width: 25px;
        height: 25px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        float: right;
        margin-left: 6px;
        margin-top: 5px;
        background: url("../img/dentify-bg.png") no-repeat 0 0;
        background-size: 25px 75px;
      }
      .grade-id{
        background-position: 0 -25px ;
      }
      .grade-email{
        background-position: 0 -50px;
      }

    }
    .nickName{
      border-top: 0;
    }
    .identify{
      background: none;
      padding-right: 6.2%;
    }
    .company{
      background: none;
      border-top: none;
    }
    .status{
      border-top: none;
      margin-top: 20px;
    }
  }

  }

.me-validate{
  background: #f8f8f8;
  .header{
    height: 242px;
    background: #63c3d3;
    padding: 0!important;
    .nav{
      height: 44px;
      margin-top: 10px;
      float: left;
      width: 100%;
      
      .icon{
        float: left;
        height: 44px;
        line-height: 44px;
        width: 10%;
        font-size: 25px;
        color: #fff;
        text-align: center;
      }
      .title{
        overflow: hidden;
        line-height: 44px;
        color: #fff;
        font-size: 16px;
        margin: 0;
        text-align: center;
        padding-right: 10%;
      }
    }

    .head{
      overflow: hidden;
      width: 106px;
      height: 106px;
      border: 3px solid #fff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin: 12px auto;
      float: left;
      margin-left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);

      .img{
        width: 100px;
        height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: url("../img/validate-bg-1.png") no-repeat;
        -webkit-background-size: 100px 300px;
        background-size: 100px 300px;
        background-position: 0 0;
      }
      .id{
        background-position: 0 -200px;
      }
      .email-bg{
        background-position: 0 -100px;
      }
    }

  }
  .list{
    background: transparent;
    margin-top: 46px;
    padding: 0 13%;


    label{
      padding: 0;
      border:none;
      background: transparent;
      margin-top:28px;

      input{
        border-bottom: 1px solid #e4e4e4;
        color: #d5d5d5;
        margin:0;
        padding:0;
        vertical-align: bottom;
        height: 20px;
      }
      .btn{
        padding:0;
        margin:0;
        float: right;
        height: 24px;
        line-height: 24px;
        color: #fff;
        background: #f39801;
        width: 43%;
        font-size: 11px;
        text-align: center;
        margin-left: 6%;
        margin-bottom: 4px;
      }
      .getcode{
        margin-right: 12px;

      }
    }
  }
  .sendvalidate{
    width: 74.5%;
    margin: 32px auto;
    height: 38px;
    background: #63c3d3;
    color: #fff;
    text-align: center;
    line-height: 38px;
  }
  
  .warn{
    overflow: hidden;
    width: 100%;
    font-size: 11px;
    text-align: center;
    color: #d7e7ea!important;

  }
  .email{
    margin: 85px auto 150px;
  }
}
.m-me-editor{
  background: #f8f8f8;

  .header{
    padding: 0 3%!important;
    background: #63c3d3;
    height: 43px;
    line-height: 43px;
    color: #fff;

    .editor-button{
      color: #fff!important;
    }
    .editor-save{
      right: 20%
    }
  }

  .content{
    padding: 0;
    margin-top: 20px;

    .editor-input{
      height: 42px;
      text-indent: 20px;
      width: 100%;
    }
    .scroll{
      background: #fff;
    }
    .editor-input-label{
      padding: 0;
      width: 80%;
      max-width: 80%;
    }
    .clear-value{
      width: 20%;
      height: 42px;
      background: url("../img/clear-bg.png") no-repeat center;
      background-size: 12px;
      position: absolute;
      top: 0;
      right: 0;

    }
  }
}
.sex-modal{

  .bar-header{
    background: #63c3d3;
    padding: 0;

    .backBtn{
      width: 10%;
      text-align: center;
      font-size: 32px;
      color: #fff;
      height:43px;
      line-height: 43px;
    }
    .title{
      width: 80%;
      margin: 0;
      color: #fff;
    }
  }

  .content{
    background: #f8f8f8;

    .sex-list{
    }
    .list{
      background: #fff;
      padding-left: 20px;
      margin-top: 20px;
    }
    .item{
      padding: 0;
      border: none;
      height: 54px;
      line-height: 54px;

      p{
        font-size: 18px;
        text-indent: 20px;

      }
    }
    .men{
      border-bottom: 2px solid #ddd;
    }
    .sex-selected{
      background-image: url("../img/selected-bg.png");
      background-size: 28px 21px;
      background-position: 90% center;
      background-repeat: no-repeat;
    }


  }

}