.bar.bar-theme {
  background-color: #63c3d3;
  color: #fff;
}

.bar-theme .button.button-clear {
  color: #fff;
}

.bar.bar-theme .title {
  color: #fff;
}

.m-menu {
  .header {
    padding: 40px 10px;

    .avatar {
      float: left;
      margin-right: 16px;

      img {
        border-radius: 50%;
        width: 75px;
        height: 75px;
      }
    }

    & > p {
      overflow: hidden;

      .badge {
        font-size: smaller;
      }
    }
  }
}