.bar.bar-theme {
  background-color: #63c3d3;
  color: #fff;
  border: none;
}

.bar-theme .button.button-clear {
  color: #fff;
}

.bar.bar-theme .title {
  color: #fff;
}

.pane {
  background-color: #f8f8f8;
}

.action-sheet .button {
  color: #000 !important;
}