.house-view ion-content {
  font-size: 20px; }
.house-view.new-view .g-1 {
  margin-top: 20px; }
.house-view.new-view .m-show-content {
  background: #ccc; }
.house-view.new-view input, .house-view.new-view button {
  font-size: 20px; }
.house-view.new-view .slider {
  height: 100%; }
.house-view.desc-view .m-show:before {
  padding-bottom: 100%; }
.house-view.desc-view .m-show .m-show-content {
  padding: 10px; }
  .house-view.desc-view .m-show .m-show-content textarea {
    width: 100%;
    height: 100%;
    border: 1px solid #999;
    font-size: 20px; }
.house-view .clearfix:before, .house-view .clearfix:after {
  display: table;
  content: ""; }
.house-view .clearfix:after {
  clear: both; }
.house-view .m-backicon {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 60px;
  height: 100%;
  line-height: 44px;
  font-size: 15px; }
.house-view .m-show {
  position: relative;
  width: 100%; }
  .house-view .m-show:before {
    content: "";
    display: block;
    padding-bottom: 75%; }
  .house-view .m-show .m-show-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    .house-view .m-show .m-show-content img {
      width: 100%;
      height: 100%; }
.house-view .m-btn {
  display: block;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0; }
.house-view .m-list {
  padding-left: 10px; }
  .house-view .m-list .m-list-item + .m-list-item {
    border-top: 1px solid #000; }
  .house-view .m-list .m-list-item input, .house-view .m-list .m-list-item a {
    display: block;
    background: transparent;
    width: 100%; }
  .house-view .m-list .m-list-item a {
    text-decoration: none; }
  .house-view .m-list .m-list-item button {
    display: block;
    margin: auto;
    width: 75%;
    text-align: center;
    padding: 5px;
    background: #999; }
