.logo-wrap {
  position: relative;
  width: 100%;
  height: 400px; }
  .logo-wrap .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    width: 100px;
    height: 50px;
    background-color: red; }
