<ion-view hide-nav-bar="true" view-title="关于我们" class="m-about">
  <ion-header-bar class="bar-theme">
    <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    <h1 class="title">关于我们</h1>
  </ion-header-bar>
  <ion-content>
    <div class="item item-body">
      <p>“屋檐下”是由网易旗下的“666”团队自主开发的一款合租类APP，以“室友是你可选择的家人”为理念，旨在为有租房需求的年轻白领人群提供快速配对心仪室友的服务，同时也集合了大量真实可靠的优质房源信息。为您找到心仪的室友。</p>
      <h2>独特算法匹配最合拍室友</h2>
      <p>通过精准高效的算法为您匹配最合拍的室友，绕过传统租房环节“先找房再认识室友”的流程，什么样的室友，你说了算！</p>
      <h2>真实可靠的第一手房源信息</h2>
      <p>限制只能用公司邮箱注册本软件，房源信息都由求租得室友提供，最大限度保证了房源的可靠性。</p>
      <h3>问题反馈：</h3>
      <p>电话：15267054788</p>
      <p>时间：工作日 周一到周五、10点-18点</p>
      <p>新浪微博：@屋檐下_APP</p>
      <h3>合作联系：</h3>
      <p>电话：15267054788</p>
      <p>时间：工作日 周一到周五、10点-18点</p>
      <p>邮箱：wuyanxia@163.com</p>
    </div>
  </ion-content>
</ion-view>