<ion-view view-title="{{title}}" class="house-view new-view" hide-nav-bar="true">
    <ion-header-bar align-title="center">
        <i class="icon ion-chevron-left m-backicon" ng-click="back()"></i>
        <h1 class="title" >{{title}}</h1>
         <div class="buttons">
            <button class="m-btn"  ng-click="showPop()" ng-if="showPop">撤销房源</button>
        </div>
    </ion-header-bar>
    <style ng-if="pics.length<=1">
        .new-view .slider-pager{
            display: none; 
        }
    </style>
    <ion-content>
        <div class="m-show" >
            <div class="m-show-content" ng-click="onSlideboxClick()">
                <ion-slide-box >
                  <ion-slide ng-repeat=" pic in pics">
                    <img ng-src="{{pic}}" ng-alt="{{pic.alt}}">
                  </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <div class="m-list">
            <div class="m-list-item"><input type="text" placeholder="标题" ng-model="data.title" ng-focus="onFocus()"></div>
            <div class="m-list-item"><input type="text" placeholder="价格" ng-model="data.price" ng-focus="onFocus()"></div>
        </div>
        <div class="m-list g-1">
            <div class="m-list-item"><input type="text" placeholder="小区" ng-model="data.community" ng-focus="onFocus()"></div>
            <div class="m-list-item"><input type="text" placeholder="区域" ng-model="data.area" ng-focus="onFocus()"></div>
            <div class="m-list-item"><a ng-click="toDesc()">描述</a></div>
        </div>
        
        <div class="g-2">
            <button class="m-btn" ng-click="send()">发布</button>
        </div>
        
    </ion-content>
</ion-view>