<ion-view hide-nav-bar="true" class="m-house">
  <ion-header-bar class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <span class="icon ion-search"></span>
      <input type="text" placeholder="请输入小区名或地址">
    </label>
    <button class="button button-clear">地图</button>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader">
    <w-house-filter></w-house-filter>
  </ion-header-bar>
  <ion-content>
    <ul class="grid">
      <li class="item" ng-repeat="v in list"> 
        <div class="content-wrapper" ng-click="go('/tab/house-detail/{{v.houseId}}')">
          <div class="img-response">
            <img ng-src="{{ v.imageUrl }}" alt="">
          </div>
          <h4 class="title">{{ v.title }}</h4>
          <p><span class="price">{{ v.price }}</span></p>
          <div class="footer">
            <img ng-src="{{ v.jjrimage }}" alt="">
            <div class="landlord">
              <p class="name">{{ v.jjrname }}</p>
              <p><span>{{ v.area }}</span><span>{{ v.community }}</span></p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>

  <script id="directive-house-filter.html" type="text/ng-template">
    <ul class="filter-group">
      <li>
        <div class="header">
          <a ng-click="showArea=!showArea">
            <span>区域</span><span class="icon ion-arrow-down-b"></span>
          </a>
        </div>
        <ul class="filter-list list" ng-class="{active: showArea}">
          <li class="item" ng-repeat="v in areaList">{{ v }}</li>
        </ul>
      </li>
      <li>
        <div class="header">
          <a ng-click="showPrice=!showPrice">
            <span>租金</span><span class="icon ion-arrow-down-b"></span>
          </a>
        </div>
        <ul class="filter-list list" ng-class="{active: showPrice}">
          <li class="item" ng-repeat="v in priceList">{{ v.value }}</li>
        </ul>
      </li>
      <li>
        <div class="header">
          <a ng-click="showRoom=!showRoom">
            <span>厅室</span><span class="icon ion-arrow-down-b"></span>
          </a>
        </div>
        <ul class="filter-list list" ng-class="{active: showRoom}">
          <li class="item" ng-repeat="v in roomList">{{ v.value }}</li>
        </ul>
      </li>
    </ul>
  </script>
</ion-view>