<ion-view view-title="{{title}}" class="house-view desc-view" hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-stable">
        
        <i class="icon ion-chevron-left m-backicon" ng-click="back()"></i>
        <h1>{{title}}</h1>
        <div class="buttons">
            <button class="m-btn" ng-click="descComplete()">完成</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <textarea placeholder="请输入房源详细信息" ng-model="data.description"></textarea>
    </ion-content>
</ion-view>