<ion-view view-title="{{title}}" class="house-view new-view" >
    <ion-header-bar align-title="center">
        <i class="icon ion-chevron-left m-backicon" ng-click="back()"></i>
        <h1 class="title" >{{title}}</h1>
         <div class="buttons">
            <button class="m-btn"  ng-click="showPop()" ng-if="showPop">撤销房源</button>
        </div>
    </ion-header-bar>
    <!--<ion-header-bar class="bar-theme">
    <i class="icon ion-chevron-left m-backicon" ng-click="back()"></i>
    <h1 class="title">{{title}}</h1>
    <button class="button button-clear" ng-click="showPop()" ng-if="showPop">撤销房源</button>
  </ion-header-bar>-->
    <style ng-if="pics.length<=1">
        .new-view .slider-pager{
            display: none; 
        }
    </style>
    <ion-content>
        <div class="m-show" >
            <div class="m-show-content" ng-click="onSlideboxClick()">
                <ion-slide-box >
                  <ion-slide ng-repeat=" pic in pics">
                        <div class="img-wrapper"><img ng-src="{{pic}}" ng-alt="{{pic.alt}}"></div>
                        
                  </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <div class="m-list">
            <div class="m-list-item"><label>标题</label><input type="text"  ng-model="data.title" ng-focus="onFocus()" id="house-form-title"></div>
            <div class="m-list-item"><label>价格</label><input type="text"  ng-model="data.price" ng-focus="onFocus()" id="house-form-price"></div>
        </div>
        <div class="m-list g-1">
            <div class="m-list-item"><label>小区</label><input type="text"  ng-model="data.community" ng-focus="onFocus()" id="house-form-community"></div>
            <div class="m-list-item"><label>区域</label><input type="text"  ng-model="data.area" ng-focus="onFocus()" id="house-form-area"></div>
            <div class="m-list-item"><a ng-click="toDesc()">描述</a><i class="ion-chevron-right"></i></div>
        </div>
        
        <!--<div class="g-2">
            <button class="m-btn" ng-click="send()">发布</button>
        </div>-->
        
    </ion-content>
    <ion-footer-bar>
        <div class="btn-wrapper">
            <button class="m-btn" ng-click="send()">发布</button>
        </div>
    </ion-footer-bar>
</ion-view>