<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar-stable item-input-inset">
    <label class="item-input-wrapper">
      <span class="icon ion-search"></span>
      <input type="text" placeholder="请输入小区名或地址">
    </label>
    <button class="button button-clear">地图</button>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader">
    <w-house-filter></w-house-filter>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">图一</div>
      <div class="col">图2</div>
    </div>
  </ion-content>

  <script id="directive-house-filter.html" type="text/ng-template">
    <ul class="filter-group">
      <li>
        <div class="header">
          <a ng-click="showArea=!showArea">
            <span>区域</span><span class="icon ion-arrow-down-b"></span>
          </a>
        </div>
        <ul class="filter-list list" ng-class="{active: showArea}">
          <li class="item" ng-repeat="v in areaList">{{ v }}</li>
        </ul>
      </li>
      <li>
        <div class="header">
          <a ng-click="showPrice=!showPrice">
            <span>租金</span><span class="icon ion-arrow-down-b"></span>
          </a>
        </div>
        <ul class="filter-list list" ng-class="{active: showPrice}">
          <li class="item" ng-repeat="v in priceList">{{ v.value }}</li>
        </ul>
      </li>
      <li>
        <div class="header">
          <a ng-click="showRoom=!showRoom">
            <span>厅室</span><span class="icon ion-arrow-down-b"></span>
          </a>
        </div>
        <ul class="filter-list list" ng-class="{active: showRoom}">
          <li class="item" ng-repeat="v in roomList">{{ v.value }}</li>
        </ul>
      </li>
    </ul>
  </script>
</ion-view>