<ion-view hide-nav-bar="true" class="m-me">
  <ion-header-bar class="bar-theme">
    <button class="button button-clear button-icon ion-ios-arrow-left" 
            ng-click="$ionicGoBack()"></button>
    <h1 class="title">个性问答</h1>
  </ion-header-bar>
  <ion-content class="m-question">
    <h2 class="hint">请回答以下6个问题，以便为您更精准地匹配室友。</h2>
    <h2>{{ quiz.label }}</h2>
    <ul class="row">
      <li ng-repeat="choice in quiz.choices" class="col" 
          ng-click="select(quiz.name, choice.id);">
        <img ng-src="{{ choice.image }}" alt="">
        <label>{{ choice.answer }}</label>
      </li>
    </ul>
  </ion-content>
</ion-view>
