<ion-view class="m-me">
  <ion-header-bar class="bar-theme">
    <h1 class="title">个性问答</h1>
  </ion-header-bar>
  <ion-content class="m-question">
    <h2 class="hint">空</h2>
    <h2>您的身份</h2>
    <ul class="row">
      <li class="col" ng-click="go('/menu/house-new')">
        <img src="img/quiz/icon-f2.png" alt="">
        <label>有房源</label>
      </li>
      <li class="col" ng-click="go('/menu/people-list')">
        <img src="img/quiz/icon-f3.png" alt="">
        <label>无房源</label>
      </li>
    </ul>
  </ion-content>
</ion-view>
