<ion-view>
  <ion-content>
    <people-detail-nav></people-detail-nav>
    <section class="banner">
      <ion-slide-box>
        <ion-slide ng-repeat="image in house.images track by $index">
          <img ng-src="{{ image }}" width="400" height="300">
        </ion-slide>
      </ion-slide-box>
    </section>
    <section class="item">
      <h2 class="title">{{ house.title }}</h2>
      <div class="row">
        <p class="col"><em>{{ house.price }}</em> 元/月</p>
        <p class="col">{{ house.updateTime }}</p>
      </div>
    </section>
    <section class="item">
      <h2 class="heading">房源地址</h2>
      <div class="row">
        <p><label>地址</label>{{ house.address }}</p>
      </div>
      <div class="row">
        <p><label>小区</label>{{ house.community }}</p>
      </div>
    </section>
    <section class="item">
      <h2 class="heading">房源描述</h2>
      <div class="row">
        <p>{{ house.description }}</p>
      </div>
    </section>
  </ion-content>
</ion-view>