<ion-list class="grid">
  <ion-item collection-repeat="p in list" 
            ng-click="jumpToDetail('/menu/people-detail/' + p.userId + '/' + (p.hasHouse ? '1' : ''))">
            <!-- > -->
            <!-- href="#/menu/people-detail/{{ p.userId }}/{{ p.hasHouse ? '1' : '' }}"> -->
    <div class="content-wrapper">
      <div class="img-response" ng-class="{ 'ribbon': p.hasHouse }">
        <img ng-src="{{ p.photoId }}" alt=""  width="156" height="156">
      </div>
      <p><span class="nickname">{{ p.nickName }}</span> / {{ p.company }} / {{ p.age }}</p>
      <p><span class="gender" ng-class="{'male': p.gender === '男'}"></span>匹配度 <em>{{ p.matchScore }}%</em></p>
      <div class="footer">
        <p>{{ '"' + p.matchMessage + '"' }}</p>
      </div>
    </div>
  </ion-item>
</ion-list>