<ion-view class="m-people" hide-nav-bar="true">
  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-clear" ng-click="$ionicGoBack()">取消</button>
    </div>
    <h1 class="title">室友</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="finish()">完成</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="button-bar" ng-repeat="v in buttons">
      <a href="" class="button" ng-repeat="c in v.choices">{{ c.label }}</a>
    </div>
    <ion-list>
      <ion-item class="item-icon-right" ng-repeat="v in list">
        {{ v.label }}
        <span class="icon ion-ios-arrow-right"></span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>