<ion-view hide-nav-bar="true" class="m-people">
  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-clear button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    </div>
    <h1 class="title">{{ people.name }}</h1>
    <div class="buttons">
      <button class="button button-clear button-icon ion-ios-more" ng-click="showMenu()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
      <section class="banner">
        <div class="avatar"><img ng-src="{{ people.image }}" alt=""></div>
        <h1>{{ people.name }} <small>中等信用</small></h1>
      </section>
      <section class="item">
        <h2 class="heading">基本信息</h2>
        <div class="row">
          <p class="col">性别：{{ people.gender }}</p>
          <p class="col">年龄：{{ people.age }}</p>
        </div>
        <p>公司：{{ people.company }}</p>
        <p>职位：{{ people.job }}</p>
      </section>
      <section class="item">
        <h2 class="heading">个人标签</h2>
        <ul class="tags">
          <li ng-repeat="v in people.tags">
            <span>{{ v }}</span>
          </li>
        </ul>
      </section>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row">
      <div class="col col-50">
        <p>{{ people.name }}</p>
        <p>{{ people.tel }}</p>
      </div>
      <div class="col">
        <a class="button button-clear" href=""><span class="icon ion-ios-telephone"></span>电话</a>
      </div>
      <div class="col">
        <a class="button button-clear" href=""><span class="icon ion-ios-email"></span>短信</a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>