<ion-view hide-nav-bar="true" class="m-people">
  <ion-header-bar class="bar-theme item-input-inset">
    <form ng-submit="search()" class="item-input-wrapper">
        <span class="icon ion-ios-search"></span>
        <input type="text" ng-model="q" placeholder="可以搜索昵称和小区名称">
    </form>
    <button class="button button-clear" ng-click="$ionicGoBack()">取消</button>
  </ion-header-bar>
  <ion-content>
    <p class="hint" ng-if="showHint">
      没有搜索到您要找的室友，试试别的“昵称”或“小区名”吧。
    </p>
    <people-list-grid></people-list-grid>
    <ion-infinite-scroll ng-if="hasMore()" on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>