<ion-view class="m-people" hide-nav-bar="true">
  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-icon button-clear ion-navicon" menu-toggle></button>
    </div>
    <h1 class="title">室友</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="go('/menu/people-filter')">筛选</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list class="grid">
      <ion-item ng-repeat="p in list">
        <div class="content-wrapper" ng-click="jumpToDetail('/menu/people-detail/{{p.userId}}/info')">
          <div class="img-response">
            <img ng-src="{{ p.photoId }}" alt="" ng-class="{ribbon: p.hasHouse}" width="156" height="156">
          </div>
          <div class="footer">
            <p><span>{{ p.nickName }}</span><span>匹配度：{{ p.matchScore }}%</span></p>
            <p><span>{{ p.job }}</span><span>{{ p.age }}</span></p>
            <p><span>推荐理由：{{ p.matchMessage }}</span></p>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>