<ion-view class="m-people" hide-nav-bar="true">
  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-icon button-clear ion-navicon" menu-toggle></button>
    </div>
    <h1 class="title">室友</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="go('/menu/people-filter')">筛选</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list class="grid">
      <ion-item ng-repeat="v in list">
        <div class="content-wrapper" ng-click="go('/menu/people-detail/{{v.id}}/info')">
          <div class="img-response">
            <img ng-src="{{ v.image }}" alt="" ng-class="{ribbon: v.house}" width="156" height="156">
          </div>
          <div class="footer">
            <p><span>{{ v.name }}</span><span>匹配度：{{ v.match }}</span></p>
            <p><span>{{ v.job }}</span><span>{{ v.age }}</span></p>
            <p><span>推荐理由：{{ v.reason }}</span></p>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
  </ion-content>
</ion-view>