<ion-view>
  <ion-content>
    <people-detail-nav></people-detail-nav>
    <section class="banner">
        <div class="avatar"><img ng-src="{{ people.photoId }}" alt=""></div>
        <h1>{{ people.nickName }} <small class="badge badge-stable">{{ people.credit }}</small></h1>
      </section>
      <section class="item">
        <h2 class="heading">基本信息</h2>
        <div class="row">
          <p class="col">性别：{{ people.gender }}</p>
          <p class="col">年龄：{{ people.age }}</p>
        </div>
        <p>公司：{{ people.company }}</p>
        <p>职位：{{ people.job }}</p>
      </section>
      <section class="item">
        <h2 class="heading">个人标签</h2>
        <ul class="tags">
          <li ng-repeat="v in people.tags">
            <span>{{ v }}</span>
          </li>
        </ul>
      </section>
  </ion-content>
</ion-view>