<ion-view hide-nav-bar="true" class="m-people">
  <ion-header-bar class="bar-theme">
    <button class="button button-clear button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    <h1 class="title">室友详情</h1>
    <button class="button button-clear button-icon ion-ios-more" ng-click="showMenu()"></button>
  </ion-header-bar>
  <ion-nav-view name="people-detail"></ion-nav-view>
  <ion-footer-bar class="bar-stable">
    <div class="row">
      <div class="col col-50">
        <p>{{ people.nickName }}</p>
        <p>{{ people.tel }}</p>
      </div>
      <div class="col active">
        <a class="button button-block button-clear" href="tel:{{ people.tel }}">
          <span class="icon ion-ios-telephone"></span>手机
        </a>
      </div>
      <div class="col active">
        <a class="button button-block button-clear" href="sms:+86{{ people.tel }}?body=短信内容，有了文案再改 people-detail-wrapper.html">
          <span class="icon ion-chatbox-working"></span>短信
        </a>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>