<ion-view class="m-people" hide-nav-bar="true">
  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-clear" ng-click="$ionicGoBack()">取消</button>
    </div>
    <h1 class="title">室友</h1>
    <div class="buttons">
      <button class="button button-clear">完成</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="button-bar">
      <a href="" class="button">男</a>
      <a href="" class="button">女</a>
      <a href="" class="button">不限</a>
    </div>
    <ion-list>
      <ion-item class="item-icon-right">同公司<span class="icon ion-ios-arrow-right"></span></ion-item>
      <ion-item class="item-icon-right">抽烟<span class="icon ion-ios-arrow-right"></span></ion-item>
      <ion-item class="item-icon-right">宠物<span class="icon ion-ios-arrow-right"></span></ion-item>
      <ion-item class="item-icon-right">作息<span class="icon ion-ios-arrow-right"></span></ion-item>
    </ion-list>
  </ion-content>
</ion-view>