<ion-modal-view class="birth-modal" >
    <ion-header-bar>
        <h3 class="title">选择出生日期</h3>
        <i class="button alignright" ng-click="selectBirth()">完成</i>
    </ion-header-bar>
    <ion-content>
        <div class="box" ng-controller="scrollCalendar">
            <div class="year-cover">
                <div class="up" ></div>
                <div class="show"></div>
                <div class="down"></div>
            </div>
            <ul class="year">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
            </ul>
        </div>
    </ion-content>
</ion-modal-view>
