<ion-view class="me-validate">
    <ion-content class="">
        <div class="header">
            <div class="nav">
                <i class="icon ion-ios-arrow-back" ng-click="go('/me')"></i>
                <h1 class="title title-center header-item">邮箱认证</h1>
            </div>
            <div class="head">
                <div class="head-img" align="center">
                    <p class="img email-bg"></p>
                </div>
            </div>
        </div>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="请输入您的企业邮箱">
            </label>
        </div>
        <p class="sendvalidate email">发送验证链接</p>
    </ion-content>
</ion-view>