<ion-view class="me-validate" hide-nav-bar="true">
    <ion-content class="">
        <div class="header">
            <div class="nav">
                <i class="icon ion-ios-arrow-back" ng-click="$ionicGoBack()"></i>
                <h1 class="title title-center header-item">身份证认证</h1>
            </div>
            <div class="head">
                <div class="head-img" align="center">
                    <p class="img id"></p>
                </div>
            </div>
            <p class="warn">我们会保证您身份信息的安全，请放心</p>
        </div>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="请输入真实姓名">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="请输入身份证号">
            </label>
        </div>
        <p class="sendvalidate">完成</p>
    </ion-content>
</ion-view>