<ion-view  style="background:#f8f8f8" hide-nav-bar="true">
    <ion-header-bar style="background:#f8f8f8">
        <div class="buttons buttons-left"  ng-click="$ionicGoBack()">
            <button class="button button-positive button-clear">取消</button>
        </div>
        <div class="title title-center header-item">{{data.title}}</div>
        <div class="buttons buttons-right" ng-click="saveModify()">
            <button class="button button-positive button-clear">保存</button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <label class=" item item-input-inset item-borderless">
            <input type="text" name="name" value="{{data.val}}" class="" ng-model="data.val">
        </label>
    </ion-content>
</ion-view>