<ion-view class="m-me-show" hide-nav-bar="true">
  <ion-content>
    <div class="header">
      <div class="nav header-bar">
        <i class="ion-ios-arrow-left " ng-click="$ionicGoBack()"></i>
        <h1 class="title" align="center">个人信息</h1>
      </div>
      <div class="head-img" align="center" ng-click="showCamera()">
        <img ng-src="{{data.avatar}}" id="myImage"/>
      </div>
    </div>
    <div class="tags">
      <p class="">个性标签</p>
      <div class="tag">
        <a class="" ng-repeat="(key, value) in data.tags" ng-click="go('quiz/{{key}}')">{{value}}</a>
      </div>
    </div>
    <div class="info-list">
      <div class="">
        <div class="part1">
          <div class="item status" ng-click="showStatus()">
            <p class="">状态</p>
            <p class="">{{data.lookStatus == 0 ? '正在寻找' : '已经找到'}}</p>
          </div>
          <div class="item identify">
            <p class="">信用等级</p>
            <p class="">
              <a href="#/menu/phone-validate" class="grade-phone"></a>
              <a href="#/menu/id-validate" class="grade-id"></a>
              <a href="#menu/email-validate" class="grade-email"></a>
            </p>
          </div>
        </div>
        <p class="warn">提高自己的信用等级, 结交更多值得信任的室友</p>
        <div class="part2">
          <div class="item nickName" ng-click="modify({'title':'昵称','val':data.nickName,'key':'nickName'})">
            <p class="">昵称</p>
            <p class="">{{data.nickName}}</p>
          </div>
          <div class="item"  ng-click="openSex()">
            <p class="">性别</p>
            <p class="">{{data.gender}}</p>
          </div>
          <div class="item" ng-click="showDate()">
            <p class="">出生日期</p>
            <p class="">{{data.birthday | date:'yyyy-MM-dd'}}</p>
          </div>
        </div>
        <div class="part3">
          <div class="item company">
            <p class="">公司</p>
            <p class="">{{data.company}}</p>
          </div>
          <div class="item"  ng-click="modify({'title':'岗位','val':data.job,'key':'job'})">
            <p class="">岗位</p>
            <p class="">{{data.job}}</p>
          </div>
          <div class="item phone"  ng-click="modify({'title':'手机','val':data.phone,'key':'phone'})">
            <p class="">手机</p>
            <p class="">{{data.phone}}</p>
          </div>
        </div>
    </div>
    </div>
  </ion-content>
</ion-view>