<ion-view class="me-validate">
    <ion-content>
        <div class="header">
            <div class="nav">
                <i class="icon ion-ios-arrow-back" ng-click="go('/me')"></i>
                <h1 class="title title-center header-item">手机认证</h1>
            </div>
            <div class="head">
                <div class="head-img" align="center">
                    <p class="img"></p>
                </div>
            </div>
        </div>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="请输入手机号码" ng-model="data.phone">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="请输入验证码" ng-model="data.validateCode" class="getcode">
                <a class="btn" ng-click="getCode()">获取验证码</a>
            </label>
        </div>
        <p class="sendvalidate" ng-click="sendValidate()">完成</p>
    </ion-content>
</ion-view>