<ion-view class="m-me">
  <ion-header-bar class="bar-stable">
    <div class="buttons">
      <button class="button button-clear button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    </div>
    <h1 class="title">个性问答</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="next()">
        {{ nextOrFinish }}
      </button>
    </div>
  </ion-header-bar>
  <ion-content class="m-question">
    <h2 ng-hide="{{ !showHint }}">请回答以下7个问题，以便为您更精确匹配室友。</h2>
    <h2>{{ number + '. ' + question.label }}</h2>
    <ul class="row">
      <li ng-repeat="choice in question.choices" class="col" 
          ng-click="select(question.name, choice.id);">
        <img ng-src="{{ choice.image }}" alt="">
        <label>{{ choice.answer }}</label>
      </li>
    </ul>
    <div class="progress"><span class="meter icon ion-location" ng-style="{left: styleLeft + '%'}"></span></div>
  </ion-content>
</ion-view>
