<ion-view class="m-me">
  <ion-header-bar class="bar-stable">
    <button class="button button-clear button-icon ion-ios-arrow-left" ng-click="$ionicGoBack()"></button>
    <h1 class="title">个性问答</h1>
  </ion-header-bar>
  <ion-content class="m-question">
    <h2>回答六道问题可以让你匹配到更好的室友哦！</h2>
    <ul class="row">
      <li class="col" ng-click="startQuiz()">
        <img src="img/image-m.png" alt="">
        <label>现在作答</label>
      </li>
      <li class="col" ng-click="go('/menu/people-list')">
        <img src="img/image-m.png" alt="">
        <label>跳过</label>
      </li>
    </ul>
  </ion-content>
</ion-view>
