<ion-view class="m-me-register"  ng-controller="InfoRegister">
    <ion-content>
        <div class="header">
            <header>
                <h1 class="per-info" align="center">个人信息</h1>
                <i class="alignright">跳过</i>
            </header>
            <div class="head-img" align="center">
                <img src=" http://223.252.223.13/Roommates/photo/photo_123.jpg" alt=""/>
            </div>
        </div>
        <div class="list">
            <label class="item item-input">
                昵称
                <input type="text" name="name"/>
            </label>
            <label class="item item-input sex">
                性别
                <input type="text" name="sex"  ng-click="openSex()" value="{{selectsex}}"/>
            </label>
            <label class="item item-input">
                出生日期
                <input type="text" name="birth" ng-click="openBirth()" value="{{year+'-'+month+'-'+day}}"/>
            </label>
            <label class="item item-input">
                公司
                <input type="text" name="company"/>
            </label>
            <label class="item item-input job">
                岗位
                <input type="text" name="job"/>
            </label>
            <label class="item item-input">
                电话
                <input type="tel" name="phone"/>
            </label>
            <div class="padding">
                <button class="button button-block button-dark">完成</button>
            </div>
        </div>
    </ion-content>
<script id="sex-modal.html" type="text/ng-template">
        <ion-modal-view class="sex-modal">
            <ion-header-bar>
                <h3 class="title">选择性别</h3>
                <i class="button alignright" ng-click="closeSex()">完成</i>
            </ion-header-bar>
            <ion-content>
                <ion-list>
                    <ion-item ng-click="selectSex('男')">
                        <p>男</p>
                    </ion-item>
                    <ion-item ng-click="selectSex('女')">
                        <p>女</p>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>
    <script id="birth-modal.html" type="text/ng-template">
        <ion-modal-view class="birth-modal">
            <ion-header-bar>
                <h3 class="title">选择出生日期</h3>
                <i class="button alignright" ng-click="closeBirth()">完成</i>
            </ion-header-bar>
            <ion-content>
                <select name="year" ng-model="year" ng-change="selectYear(year)">
                    <option value="1985">1985</option>
                    <option value="1986">1986</option>
                    <option value="">1987</option>
                    <option value="">1988</option>
                    <option value="">1989</option>
                    <option value="">1990</option>
                    <option value="">1991</option>
                    <option value="">1992</option>
                </select>年
            <select name="month"  ng-model="month"  ng-change="selectMonth(month)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
            </select>月
            <select name="day" ng-model="day" ng-change="selectDay(day)" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
            </select>日
            </ion-content>
        </ion-modal-view>
    </script>
</ion-view>