<ion-view class="m-me-register" hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-stable padding">
        <h1 class="title">个人信息填写</h1>
        <a class="ignore " ng-click="ignoreRegister()" >跳过</a>
    </ion-header-bar>
    <ion-content>
        <div class="header" ng-click="showCamera()">
            <div class="head-img" align="center">
                <img src="{{data.avatar}}" alt="头像" id="myImage"/>
                <i class="camera"></i>
            </div>
        </div>
        <div class="list">
            <p class="item item-input">
                <label class="input-label">昵称</label>
                <input type="text" name="name" ng-model="data.nickName" value="{{data.nickName}}"/>
            </p>
            <p class="item item-input">
                <label class="input-label">性别</label>
                <input type="text" name="sex"  ng-click="openSex()" value="{{data.gender}}" ng-model="data.gender"/>
            </p>
            <p class="item item-input date"  ng-click="showDate()">
                <label class="input-label date-label">出生日期</label>
                <span class="date-input">{{data.birthday | date:'yyyy-MM-dd'}}</span>
               <!-- <input type="text" name="birth" ng-click="showDate()" value="{{ data.birthday | date:'yy-MM-dd'}}" ng-model="data.birthday"/>-->
           <!--     <input type="text" name="birth" ng-click="openBirth()" value="{{data.birthday ? data.birthday : ''}}" ng-model="data.birthday"/>-->
            </p>
            <p class="item item-input">
                <label class="input-label">公司</label>
                <input type="text" name="company" contenteditable="false" readonly="readonly" ng-model="data.company" style="background:none;"/>
            </p>
            <p class="item item-input job">
                <label class="input-label">岗位</label>
                <input type="text" name="job" ng-model="data.job"/>

            <p class="item item-input phone">
                <label class="input-label">手机</label>
            <input type="tel" name="phone" ng-model="data.phone"/>
            </p>
            <div class="padding">
                <button class="button button-block" ng-click="finishRegister()">完成</button>
            </div>
        </div>
    </ion-content>
</ion-view>