<ion-view view-title="{{title}}" hide-back-button="false" class="notice-view">
    <ion-content class="chart-content g-1">
        <div class="m-chartbox left">
            啦啦啦啦拉拉阿拉啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦
        </div>
        <div class="m-chartbox right">
            啦啦啦啦拉拉阿拉啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦啦
        </div>
    </ion-content>
    <div class="m-inputbox g-2">
        <div class="input-wrapper">
            <input type="text" class="input-text"/>
        </div>
        <button class="btn-send">发送</button>
    </div>
</ion-view>