<ion-view hide-nav-bar="true" class="">
	<ion-content>
		<div class="logo-wrap">
			<div class="logo">LOGO</div>
		</div>
		<ul class="related-log clearfix">
			<li>微信</li>
			<li>易信</li>
		</ul>
		<div class="m-log">
			<div class="header">
				<span>或从以下方式登录</span>
			</div>
			<div class="log-list list padding">
				<label class="item item-input">
					<span class="input-label">企业邮箱</span>
    				<input type="text">
				</label>
				<label class="item item-input">
				    <span class="input-label">登录密码</span>
    				<input type="text">
				</label>
				<button class="button button-block button-positive">
					登录
				</button>
			</div>
		</div>
	</ion-content>
	<ion-tabs>
		<ion-tab title="忘记密码" href="#">
			<ion-nav-view name="login"></ion-nav-view>
		</ion-tab>
		<ion-tab title="注册账号"  href="#">
			<ion-nav-view name="register"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>