<!-- 侧边栏包裹指令-->
<ion-side-menus enable-menu-with-back-views="false" class="m-menu">

  <!-- 主体内容 -->
  <ion-side-menu-content>

    <!-- 标题栏 -->
    <ion-nav-bar class="bar-theme">

      <!-- 返回按钮 -->
      <ion-nav-back-button></ion-nav-back-button>

      <!-- 菜单按钮 -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    
    <!-- 菜单对应的视图 -->
    <ion-nav-view name="menu-content"></ion-nav-view>
  </ion-side-menu-content>

  <!-- 菜单内容 -->
  <ion-side-menu side="left" class="side-menu">
    <ion-content>
      <div class="header" ng-click="go('/me')" menu-toggle>
        <div class="avatar"><img ng-src="{{ me.avatar }}" alt="头像" width="75" height="75"></div>
        <p>
          <span>{{ me.nickName }}</span>
          <br/>
          <span class="badge badge-stable">{{ me.credit }}</span>
        </p>
      </div>
      <ion-list>
        <ion-item class="item-icon-left" href="#/menu/fav" menu-toggle>
          <span class="u-icon icon-bookmark"></span>我的收藏
        </ion-item>
        <ion-item ng-if="!me.hasHouse" class="item-icon-left" href="#/house-new">
          <span class="u-icon icon-house"></span>房源发布
        </ion-item>
        <ion-item ng-if="me.hasHouse" class="item-icon-left" href="#/house-update">
          <span class="u-icon icon-house"></span>房源编辑
        </ion-item>
        <ion-item class="item-icon-left" href="#/menu/about" menu-toggle>
          <span class="u-icon icon-about"></span>关于我们
        </ion-item>
        <ion-item class="item-icon-left" href="#/menu/score" menu-toggle>
          <span class="u-icon icon-pencil"></span>评个分吧
        </ion-item>
        <ion-item class="item-icon-left" href="#/menu/setting" menu-toggle>
          <span class="u-icon icon-gear"></span>设置
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <span class="icon ion-ios-search"></span>
        <input type="text" placeholder="搜索">
      </label>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>